<header class="hero">
  <a routerLink="/">
    <h1 class="hero__title">
    <span class="hero__title--dark">NeoWindow </span><span class="hero__title--light">Store</span>
  </h1>
  </a>
  <div class="hero__container">
    <nav class="hero__menu">
      <ul>
        <li class="hero__item"><a routerLink="products" class="hero__link hero__link--hover">Produtos</a></li>
        <li class="hero__item"><a routerLink="contact" class="hero__link hero__link--hover">Contato</a></li>
        <li class="hero__item cart">
          <a routerLink="cart" class="hero__link">
            <i class="fa-solid fa-cart-shopping"></i>
            <!-- <span class="badge-cart">{{ cartService.getAmountCart() }}</span> -->
            <span class="badge-cart">{{ cartService.getAmountCart().length }}</span>
          </a>
        </li>
      </ul>
    </nav>
    <form action="#" class="search-form">
      <input type="text">
      <button type="button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</header>