<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">Sobre nós</h2>
      <p class="footer__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur eveniet optio laudantium cum sequi similique ullam! Soluta enim inventore et officiis nulla deserunt. Minima beatae architecto maxime nulla aperiam! Corrupti accusamus repellat vero praesentium minima magni explicabo laudantium dolore vitae fugiat illum dolores quis eos.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contato</h2>
      <ul class="contact">
        <li><i class="fa-regular fa-envelope mail-icon"></i><span>neowindow@admin.com</span></li>
        <li><i class="fa-solid fa-phone"></i><span>(99) 99999-9999</span></li>
        <li><i class="fa-brands fa-whatsapp whatsapp-icon"></i><span>(99) 99999-9999</span></li>
      </ul>
      <h2 class="footer__title">Nossas redes sociais</h2>
      <ul class="social-media">
        <li><a><i class="fa-brands fa-facebook-f facebook-icon"></i></a></li>
        <li><a><i class="fa-brands fa-instagram instagram-icon"></i></a></li>
        <li><a><i class="fa-brands fa-twitter"></i></a></li>
        <li><a><i class="fa-brands fa-linkedin-in"></i></a></li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">
    &copy; Todos os direitos reservados.
  </section>
</footer>