<h2 class="contact__title">Entre em contato conosco</h2>
<section class="contact">
  <form action="#" class="contact__form">
    <input type="text" placeholder="Nome..." class="input">
    <input type="email"  placeholder="E-mail..." class="input">
    <input type="tel" placeholder="(99) 99999-9999..." class="input">
    <input type="text" placeholder="Assunto..." class="input">
    <textarea cols="30" rows="10" placeholder="Mensagem..." maxlength="300"></textarea>
    <input type="submit" value="Enviar" class="btn">
  </form>
  <address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.2304275972797!2d-35.70315328485485!3d-9.661342393083835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x70145abc61800c3%3A0x480eb34475335817!2sPra%C3%A7a%20do%20Skate!5e0!3m2!1spt-BR!2sbr!4v1680335873769!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <p>R. Durval Guimarães, S/N - Ponta Verde, Maceió - AL, 57035-060</p>
  </address>
</section>