<section class="product-details">
  <div class="product-details__img">
    <img [src]="product?.image" [alt]="product?.name">
  </div>
  <div class="product-details__description">
    <h2 class="product-details__name">{{ product?.name }}</h2>
    <h3 class="product-details__price">{{ product?.price | currency:"BRL" }}</h3>
    <p class="alert">Estoque disponível</p>
    <label class="quantity">
      Quantidade:
      <input type="number" [(ngModel)]="quantity" min="1" max="{{ product?.quantity }}" [value]="quantity > 50 ? 50 : quantity"> unidade (s)
    </label>
    <p class="avaiability">
      {{ product?.quantity }} produto (s) em estoque
    </p>
    <button type="button" (click)="addToCart()">Adicionar ao carrinho</button>
  </div>
</section>